.iniciarSesinChild {
    position: absolute;
    top: 151px;
    left: 199px;
    border-radius: 25px;
    background-color: white;
    width: 1041px;
    height: 767px;
  }
 
  .ioncloseCircleSharpIcon {
    position: absolute;
    top: 177px;
    left: 1162px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    cursor: pointer;
  }
  .accesoRpidoCon,
  .correoElectrnico,
  .olvidSuContrasea {
    position: absolute;
    height: 8.14%;
    display: flex;
    align-items: center;
    background-color: white;
    transition: color 0.3s ease;
  }
  .olvidSuContrasea {
    width: 40.72%;
    top: 63.73%;
    left: 28.79%;
    color: #ffad57;
  }

  .olvidSuContrasea:hover {
    color: #ff8200;
  }

  .accesoRpidoCon,
  .correoElectrnico {
    width: 39.58%;
    top: 76.44%;
    left: 30.11%;
  }
  .correoElectrnico {
    width: 57.01%;
    top: 7.97%;
    left: 0.57%;
    font-size: 24px;
    color: black;
    background-color: white;
  }
  .component1Child,
  .component1Item {
    position: absolute;
    height: 10.17%;
    width: 99.62%;
    top: 16.1%;
    right: 0.38%;
    bottom: 73.73%;
    left: 0;
    border-radius: 10px;
    color: #BDBDBD;
    background-color: white;
    border: 3px solid #FFDCB8;
    box-sizing: border-box;
  }
  .component1Item {
    top: 35.42%;
    right: -0.19%;
    bottom: 54.41%;
    left: 0.57%;
  }
  .estudiantecorreounimeteduv {
    height: 8.14%;
    width: 82.39%;
    top: 17.12%;
    left: 4.92%;
  }
  .contrasea,
  .estudiantecorreounimeteduv,
  .iniciarSesin2 {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .contrasea {
    height: 8.14%;
    width: 33.14%;
    top: 27.63%;
    left: 0.57%;
    font-size: 24px;
    color: black;
    background-color: white;
  }
  .iniciarSesin2 {
    top: calc(50% - 30px);
    left: calc(50% - 90.5px);
    width: 182px;
    height: 60px;
  }
  .iniciarSesinWrapper {
    position: absolute;
    height: 10.17%;
    width: 73.3%;
    top: 52.2%;
    right: 14.2%;
    bottom: 37.63%;
    left: 12.5%;
    border-radius: 25px;
    background-color: #FF8200;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 28px;
    color: white;
  }
  .flatColorIconsgoogle {
    position: absolute;
    height: 8.14%;
    width: 9.09%;
    top: 86.78%;
    right: 56.44%;
    bottom: 5.08%;
    left: 34.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    background-color: white;
  }
  .div,
  .frameIcon {
    position: absolute;
  }
  .frameIcon {
    height: 7.73%;
    width: 9.17%;
    top: 86.44%;
    right: 40.83%;
    bottom: 5.83%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    background-color: white;
  }
  .div {
    height: 8.14%;
    width: 82.39%;
    top: 37.29%;
    left: 4.92%;
    display: flex;
    align-items: center;
  }
  .component1 {
    position: absolute;
    top: 265px;
    left: 456px;
    width: 528px;
    height: 590px;
    font-size: 20px;
    background-color: white;
    font-family: Roboto;
  }
  .iniciarSesin {
    width: 1440px;
    background-color:#FF8200;
    max-width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color:#D9D9D9;
    font-family: Roboto Condensed;
  }

.iconHover {
  transition: transform 0.3s ease;
}

.iconHover:hover {
  transform: scale(1.1); /* Enlarge the icon on hover */
}
  